<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tienda Evertec</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Tienda de Evertec</h1>
        <p>Compra de forma segura con Placetopay</p>
    </header>

    <main>
        <section class="product-card">
            <h2>Producto de prueba</h2>
            <p>Producto de prueba.</p>
            <p class="price">$50.000 COP</p>

            <a class="button" href="/checkout">Comprar ahora</a>
        </section>
    </main>
</body>
</html>
